<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" id="kong.mono.cordova.ios-URLScheme" version="0.0.2">
    <name>IOS URLScheme</name>
    <description>IOS URLScheme</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>
    <repo>https://github.com/KongMono/cordova-ios-URLScheme.git</repo>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>azayqe</string>
                <string>azayqebay</string>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
    </platform>
</plugin>